
/* Our default values set as CSS variables */
:root {
    --color-bg: #D6EAF8;
    --color-text-main: #000000;
    --color-primary: #FFFF00;
  /* Wrapper determines how far down our title is. */
    --wrapper-height: 2vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  }
  
  /* Basic page style resets */

  * {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
  }

  
  /* Import fonts */
  @font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
      format("opentype");
  }
  @font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
      format("opentype");
  }
  
  
  /* Navigation grid */

  /*

  .footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto 0;
    padding: 1rem 0 0.75rem 0;
    width: 100%;
    flex-wrap: wrap;
    border-top: 4px solid #fff;
  }
  
  .footer a:not(.btn--remix):link,
  a:not(.btn--remix):visited {
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    color: #000;
    text-decoration: none;
    border-style: none;
  }
  .footer a:hover {
    background: var(--color-primary);
  }
  
  .footer .links {
    padding: 0.5rem 1rem 1.5rem;
    white-space: nowrap;
  }
  */

  

  .divider {
    padding: 0 1rem;
  }



  /******************************************************************************
 End of defaults
  ******************************************************************************/
  
  body {
    margin: 0;
    margin-top: 80px;
    font-family: HK Grotesk;
    background-color: var(--color-bg);
  }
  
  /* Page structure */
  .wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    place-items: center;
    margin: 0 1rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
  }
  
  /* TITLE */
  .title {
    color: #424242;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 105%;
    margin: 0;
  }
  
  
  /* Instructions */
  
   .instructions {
    margin: 1rem auto 0;
  } 
  
  /* Button */

  button,
  input {
    font-family: inherit;
    font-size: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: 500ms;
  }
  
  /* Subheading */
  
  h2 {
    color: #424242;
    
  }
  
  
  /* Button dip
  - Toggling this class on and off will move it down and up again
  - The button transition property above determines the speed of the translate (500ms)
  */
  .dipped {
    transform: translateY(5px);
  }
  
  /* Links that open files in the editor */
  .fileopener {
    cursor:pointer;
    font-weight:bold;
    border-bottom:3px solid var(--color-primary);
    color: var(--color-secondary);
  }
  .fileopener:hover {
    border-bottom:3px solid var(--color-secondary);
  }
  
  
  /* Top menu */
  
  /* The navigation bar */
  .navbar {
    overflow: hidden;
    background-color: #AED6F1;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    /* Text goes from right to left */
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  

  