
:root {
    --color-bg: #D6EAF8;
    --color-text-main: #000000;
    --color-primary: #FFFF00;
    --wrapper-height: 2vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  }

  * {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
  }
  
  @font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
      format("opentype");
  }
  @font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
      format("opentype");
  }

  .divider {
    padding: 0 1rem;
  }
  
  body {
    margin: 0;
    font-family: HK Grotesk;
    background-color: var(--color-bg);
  }
  
  /* Page structure */
  .wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    place-items: center;

    margin-left: 80px;
  }
  .content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
  }
  
  .title {
    color: #424242;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 105%;
    margin: 0;
  }
  
   .body-margin {
    margin: 1rem auto 0;
  } 

  button,
  input {
    font-family: inherit;
    font-size: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: 500ms;
  }
  
  h2 {
    color: #424242;
    
  }

  .dipped {
    transform: translateY(5px);
  }

  .navbar {
    overflow: hidden;
    background-color: #AED6F1;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  li {
    list-style-type: none;
  }
  